include MANIFEST.md
include README.md
include pyproject.toml
recursive-include src-simplegrad *.cpp *.h
include py-simplegrad/simplegrad-dev/simplegrad.pyi
include py-simplegrad/simplegrad-dev/py.typed
global-exclude *.pyd *.so *.pyc
prune build
prune dist
